$my-blue: #3437FF;
$my-green: #DBEF80;
$my-purple: #DCAFFF;
$my-black: #141414;
$pink-5: #FF4D6D;
$pink-4:  #FF758F;
$pink-3: #ffa2b3;
$pink-2: #FFCCD5;
$pink-1: #ffe3e6;

$blue-4: #48CAE4;
$blue-2: #ADE8F4;
$blue-1: #d2f6fb;


$navbar-height: 5rem;

$media-lg: 1024px;
$media-md: 768px;
$media-sm: 640px; 
$media-phone: 500px;